@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap");

$color-primary: #006c7f;
$color-secondary: #98b6c1;
$radius-s: 0;
$radius-m: 16px;

$container: 1170px;

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 6rem 0 4rem;
  background-color: $color-primary;
  color: white;
  font-family: "Readex Pro", sans-serif;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

.form {
  padding: 1rem;
  border: 1px solid rgba(white, 0.1);
  border-radius: $radius-s;
}

.form .btn {
  display: block;
  width: 100%;
}

.form__element {
  margin-bottom: 1rem;
}

.form__label {
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75em;
}

.form__input {
  appearance: none;
  background-color: transparent;
  color: white;
  border-radius: $radius-s;
  padding: 0.5rem;
  border: 1px solid rgba(white, 0.2);
  font-size: 0.75em;
  &::placeholder {
    color: rgba(white, 0.5);
  }
}

.form__input option {
  color: black;
}

.auth {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 1rem;
  @media screen and (min-width: 768px) {
    padding: 0 2rem;
  }
}

.auth img {
  margin-bottom: 2rem;
  max-width: 240px;
}

.auth__question {
  font-size: 0.75em;
  text-align: center;
}

.auth__question:not(:last-of-type) {
  margin-bottom: 1rem;
}

.auth__question .btn {
  display: block;
  margin: inherit auto;
  text-decoration: none;
  width: auto;
}

.dashboard {
  max-width: $container;
  margin: 0 auto;
  padding: 0 1rem;
  @media screen and (min-width: 768px) {
    padding: 0 2rem;
    display: grid;
    grid-template-columns: 320px auto;
    grid-gap: 3rem;
  }
}

.events {
  grid-column: 2 / 3;
}

.sidebar {
  grid-column: 1 / 2;
}

.sidebar img {
  margin-bottom: 2rem;
  max-width: 240px;
}

.leaderboard__list {
  padding: 0.5rem;
  border: 1px solid rgba(white, 0.1);
  border-radius: $radius-s;
}

.user {
  position: relative;
  padding: 0.5rem;
  padding-left: 2rem;
  &:last-child {
    &.user--highlighted {
      margin-top: 0.5rem;
    }
  }
}

.user--highlighted {
  background-color: rgba(white, 0.1);
  border: 1px solid rgba(white, 0.1);
  border-radius: $radius-s;
}

.user__flag {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
}

.user__rank {
  display: inline-block;
  opacity: 0.5;
  margin-right: 0.5rem;
}

.user__name {
  display: inline-block;
}

.user__score {
  font-weight: 700;
  float: right;
}

.event {
  background-color: rgba(white, 0.1);
  border: 1px solid rgba(white, 0.1);
  border-radius: $radius-s;
  margin-bottom: 0.75rem;
  position: relative;
}

.event__details {
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
}

.event__flag {
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.75rem;
}

.event__title {
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.25rem;
}

.event__date {
  opacity: 0.5;
  font-weight: 400;
  font-size: 0.75em;
}

.event__selection {
  appearance: none;
  display: block;
  background-color: rgba(black, 0.1);
  border-radius: $radius-s;
  color: white;
  font-size: 0.75em;
  padding: 0.5rem;
  border: 0;
  border-top: 1px solid rgba(white, 0.2);
  option {
    padding: 0;
    color: black;
  }
  &:focus {
    background-color: rgba(white, 0.2);
  }
  &:invalid {
    color:rgba(white, 0.5)
  }
}

.ribbon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: rgba(white, 0.2);
  border-bottom: 1px solid rgba(white, 0.2);
  color: white;
  text-align: center;
  margin-bottom: 1rem;
  backdrop-filter: blur(0.5rem);
  z-index: 1;
  box-shadow: 0 0 0 1px rgba(black, 0.1);
  font-size: 0.75em;
}

.btn {
  appearance: none;
  border: none;
  background-color: rgba(black, 0.1);
  color: white;
  border: 1px solid rgba(white, 0.2);
  padding: 0.5rem 0.75rem;
  border-radius: $radius-s;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.4s ease;
  width: auto;
  &:hover {
    background-color: transparent;
  }
}

.btn--primary {
  background-color: rgba(white, 0.2);
  color: white;
  &:hover {
    background-color: darken($color-secondary, 10%);
  }
}

.Toastify {
  font-family: "Readex Pro", sans-serif;
}

.link--underlined {
  color: white;
  transition: 0.4s ease;
  margin-left: 0.5rem;
  &:hover {
    opacity: 0.5;
  }
}

.register,
.login {
  margin-top: 1rem;
}

.message {
  font-size: 0.75em;
  margin: 0.25rem 0 1rem;
}
